body{
    background-color: #1B1A1F;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#content{
    display: flex;
    width: 100%;
    height: 95vh;
    flex-direction: row;
    align-items: stretch;
}

.left{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFF;
}

.right{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img{
    width: max(500px);
    margin: 30%;
}

.text{
    margin: 0 15%;
}

nav{
    background-color: #202022;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px;

}

button{
    background-color: rgb(196, 197, 197);
    font-size: 1.4rem;
    font-weight: 900;
    border: 0px solid;
    padding: 10px;
    border-radius: 10px;
}

.menu-title{
    color: #FFFFFF;
}

.menu{
    width: 500px;
}